body{
    background-color: #000000;

}
.rojo {
    background-color: red;
    }
    .verde {
    background-color: green;
    }
    .naranja {
    color: #f95b14 ;
    }

    .bg-darkdark {
        background-color: #000000;
    }
    .bg-difuminado {
        background: linear-gradient(to bottom,  #250e03, #e74d06, #000000);
    
    }
    .bg-orange {
        background-color: #e74d06;
    }
    
    .bg-dark {
        background-color: #333;
    }
    
    .text-white {
        color: white;
    }
    
    .text-center h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

.bor {
    border: 2px solid #FF4500;
}
/*Parte de inicio*/
.greeting h2 {
    margin-bottom: 0;
}

.greeting p {
    margin-top: 0;
    color: #ffffff;
    
}

.search-box input {
    border-radius: 20px;
    padding: 25px;

}

.welcome-box {
    background-color: #000000;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #FF4500;
}

.welcome-box h5 {
    margin-bottom: 5px;
    font-weight: bold;
}

.welcome-box p {
    margin-bottom: 0;
    color: #f0f0f0;
}

.ongoing-projects h4 {
    margin-bottom: 20px;
    font-weight: bold;

}

.project-card {
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.7s;
    border: 2px solid #FF4500;


}

.project-card .date {
    font-size: 12px;
    color: #ffffff;
}

.project-card h5 {
    margin-top: 10px;
    margin-bottom: 5px;
}
.project-card:hover {
    transform: translateY(-15px);
    border: 2px solid #FF4500;

}
.project-card .category {
    font-size: 14px;
    color: #ffffff;
}

.progress {

    background-color: #000000;
}

.progress-bar {
    background-color: #FF4500;
}


    