.body-rutinas {
  background-color:  #000000;
}

.banner-container-rutinas {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 5%;
}

.banner-container-rutinas img {
  width: 100%;
  height: auto;
}

.banner-overlay-rutinas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-title-rutinas {
  color: #f4f0ed;
  text-align: center;
  padding: 20px;
  font-size: 50px;
  font-family: 'Segoe UI', sans-serif;
  margin-top: 25%;
}

.banner-subtitle-rutinas {
  color: #f0e7e7;
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 60px;
  margin-left: 33%;
}

.card-custom-rutinas {
  background-color: #f95b14;
  width: 15rem;
  height: 26rem;
  margin-left: 20px;
}

.card-img-rutinas {
  height: 35%;
  width: auto;
}


.coach1-rutinas {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.coach1-rutinas img {
  width: 100%; 
  max-width: 60%; 
  margin-left: 50%;
  margin-bottom: 5px;
}

.coach2-rutinas {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.coach2-rutinas img {
  width: 100%; 
  max-width: 90%; 
  margin-left: 60%;
  margin-bottom: 5px;
}

.textoC1-rutinas {
  position: absolute;
  margin-right: 28%;
  color: #f0e7e7;
  margin-left: 20%;
}

.iconos-rutinas {
  display: flex;
  justify-content: center;
  margin-right: 8%;
  max-width: 100%; 
  margin-bottom: 5%;
  margin-top: 0%;
  margin-right: 18%;
}

.iconos-rutinas img {
  width: 50px;
  height: 50px;
}

.contenedor2-rutinas {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.contenedor2-rutinas img {
  width: 50px;
  height: 50px;
}

.contenedor3-rutinas {
  width: 100%;
  height: 25%;
  background-color: #f95b14;
  display: flex;
}

.letraIcono-rutinas {
  margin-top: 5%;
  color: black;
}

.letraIcono2-rutinas {
  margin-top: 8%;
  color: black;
}

.contenedor22-rutinas {
  display: flex;
}

.title-rutinas {
  justify-content: center;
  color: #dfd2d2;
}

.mancuernas2-rutinas {
  height: 100px;
  width: 100px;
  max-width: 100%;
}